/* Color of inactive TAB */
notebook tab {
    padding: 0.2em;
    border: 0;
    border-color: #444;
    border-style: solid;
    border-width: 1px;
}

/* Color of active TAB */
notebook tab:checked {
    border-color: #12bad8;
    border-width: 2px;
}

/* Color of text's TAB */
notebook tab:checked label {
    color: #000000;
    font-weight: 2000;
}

/* Color of "x" close button */
notebook tab button {
    padding: 0;
    background-color: transparent;
    color:  #ff0000;
    border-width: 1px;
}

/* Color of "x" border's close button */
notebook tab button:hover {
  padding: 0;
  background-image: none;
  border-color: #00b0ff;
  border-style: solid;
  border-width: 1px;
}
